* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  position: relative;
  min-height: 100%;
}

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  font-family: "Inter", sans-serif;
  background-color: #fffff0;
  scroll-behavior: smooth;
}

.info-container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 3rem;
}
.info-container-right {
  display: flex;
  flex-direction: column;
  flex: 3;
  font-size: 20px;
  padding: 20px;
  background-color: antiquewhite;
  border-radius: 20px;
  line-height: 50px;
  margin-left: 2rem;
  width: 100%;
}

#gtext {
  margin-bottom: 15px;
  margin-top: 10px;
}

.work-history-class {
  margin-top: 10px;
  margin-bottom: 10px;
}

.education-text {
  margin-top: 10px;
  margin-bottom: 10px;
}

.photo-box {
  display: flex;
  flex: 1;
  width: 100%;
}

.photo-box img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .photo-box img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-top: 1rem;
  }

  .photo-box {
    margin-bottom: 5px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .skill-box img {
    width: 60%;
    height: auto;
  }
}

.info-container-right h1 {
  font-size: 40px;
}

.education-text {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 768px) {
  .info-container {
    flex-direction: column;
    position: relative;
    margin-top: 0;
  }

  .info-container-right {
    margin-left: 0;
  }
}

.work-history-box h1 {
  font-size: 30px;
  margin-bottom: 20px;
  padding: 0 6rem;
}

.work-history-box p {
  font-size: 30px;
  line-height: 2;
}

.right-box {
  flex-basis: 40%;
  background-color: antiquewhite;
  border-radius: 10px;
  padding: 30px;
}

.right-box h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.footer-box {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
  margin-bottom: 15px;
}

.footer-box a {
  display: block;
}

.footer-box img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .right-box {
    margin-top: 30px;
  }

  nav {
    padding: 10px;
  }

  nav .menu {
    margin-top: 10px;
  }

  nav .menu li {
    margin-left: 10px;
  }

  .right-box form label,
  .right-box form input,
  .right-box form textarea {
    font-size: 16px;
  }

  .right-box form input[type="submit"] {
    font-size: 16px;
    padding: 10px 15px;
  }

  .footer-box a {
    margin-right: 20px;
  }

  .footer-box img {
    width: 25px;
    height: 25px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.work-history {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background-color: #f2f2f2;
}
.contact-box input,
.contact-box textarea {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid black;
  padding: 15px;
  border-radius: 10px;
  border: none;
}

/* .contact-box button {
  background-color: #fffff0;
  color: antiquewhite;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  float: right;
} */

.profile-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin: 20px;
}

.footer-box img.github {
  width: 50px;
  height: 50px;
}

.work-history-box h1,
.work-history-box p {
  color: black;
  font-style: italic;
  font-size: 25px;
  line-height: 0;
}

.contact-box {
  background-color: #fffff0;
  padding: 30px;
  margin-bottom: 5rem;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 0;
  width: 50%;
}
.contact-form {
  width: 100%;
}
form {
  width: 100%;
}
.fclass {
  width: 130%;
}
.CT {
  width: 100%;
  display: flex;
  justify-content: center;
}

.work-history-box h3 {
  color: Black;
}

nav .menu li a {
  color: #333;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.2s ease-in-out;
}

#logoPh {
  width: 200px;

  /* border-radius: 50%; */
  margin: 0 auto;
}

.contact-box form #message {
  height: 200px;
  overflow-y: auto;
}

textarea {
  height: 150px;
}

textarea {
  resize: none;
}

a {
  text-decoration: none;
}

.work-info-box {
  margin: 30px;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  padding: 0 6rem;
}
@media screen and (max-width: 768px) {
  .work-info-box {
    font-size: 14px;
  }
}
.work-info-box h3 {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
}

@media screen and (max-width: 768px) {
  .work-info-box h3 {
    font-size: 10px;
  }
}
body {
  margin: 0;
  padding-bottom: 70px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: antiquewhite;
  color: #fff;
  padding: 0px 20px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
.footerText {
  font-size: 15px;
  color: black;
}

.footerT {
  width: 100%;
  height: 20px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ctext {
  margin-bottom: 1.5rem;
}

.skill-box {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
  grid-gap: 20px;
  place-items: center;
}
.skill-box figure {
  width: 120px;
  text-align: center;
  padding-top: 25px;
}

.skill-box img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .skill-box img {
    width: 60%;
    height: auto;
  }
}

.skill-box figcaption {
  font-size: 14px;
  color: black555;
}

.lang-hob {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  gap: 20px;
  height: 100%;
}

@media screen and (max-width: 1446px) {
  .lang-hob {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 200px;
  }
  .titler {
    margin-bottom: 10px;
    font-size: 15px;
  }
  .lang {
    width: 100%;
    display: flex;
    line-height: 20px;
  }

  .lang h3 {
    font-size: 30px;
  }

  .lang h4 {
    font-size: 15px;
    margin-left: 15px;
    margin-top: 10px;
  }

  .lang-class-gen {
    margin-top: 20px;
  }

  .skill-box {
    margin-bottom: 30px;
  }
}

.lang {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 50px;
}
.titler {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.lang-class-gen {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  line-height: 20px;
}
.lang-class-gen h3 {
  margin-top: 15px;
  font-size: 27px;
}
.lang-class-gen h4 {
  font-size: 17px;
}

.listClass {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
  padding-left: 110px;
  justify-content: flex-start;
  height: 100%;
  list-style: none;
}
.shift {
  padding-left: 35px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.hob {
  width: 100%;
}
@media screen and (max-width: 1056px) {
  .lang-hob {
    flex-direction: column;
  }
}

.hob-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
.hob-class {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
  padding-left: 80px;
  justify-content: flex-start;
  height: 100%;
  list-style: none;
}

.download-box {
  display: flex;
  justify-content: flex-end;
  margin-top: 5rem;
  padding: 1.5rem;
}

.download-btn {
  background: #337ab7;
  color: #fffff0;
  border-radius: 10px;
  padding: 1rem 2rem;
}

@media screen and (max-width: 768px) {
  .download-btn {
    font-size: 10px;
  }

  .download-box {
    margin-top: 1rem;
    padding: 0.5rem;
    justify-content: center;
  }
}

h2 {
  margin-top: 0;
}

button {
  background-color: #337ab7;
  border: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hobIcon {
  width: 20px;
  height: 25px;
  margin-right: 10px;
}

button:hover {
  background-color: #23527c;
}

p {
  margin-bottom: 0;
}

#etext {
  line-height: 5px;
  padding-left: 30px;
}

nav {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  height: 85px;
  align-items: center;
  background-color: #faebd7;
  padding: 0 4rem;
  color: #fff;
  z-index: 1000;
}

.navbar-logo a {
  color: black;
  text-decoration: none;
}
.navbar-menu a {
  color: black;
}

.navbar-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  visibility: visible;
  gap: 1rem;
  margin: 0;
  list-style: none;
  opacity: 1;
  width: 100%;
}

.navbar-menu.active {
  opacity: 1;
  visibility: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 85px;
  right: 0;
  width: 170px;
  height: 120px;
  gap: 1rem;
  margin: 0;
  list-style: none;
  backdrop-filter: blur(15px);
  background-color: rgba(250, 235, 215, 0.5);
  border-bottom-left-radius: 1.5rem;
  transition-duration: 300ms;
}

@media screen and (max-width: 768px) {
  .navbar-menu {
    opacity: 1;
    visibility: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -100px;
    right: 0;
    width: 170px;
    height: 120px;
    gap: 1rem;
    margin: 0;
    list-style: none;
    backdrop-filter: blur(15px);
    background-color: rgba(250, 235, 215, 0.5);
    border-bottom-left-radius: 1.5rem;
    transition-duration: 300ms;
    z-index: -1000;
  }
}

@media screen and (max-width: 768px) {
  .navbar-toggle {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1.5rem;
    height: 1.5rem;
  }
}

.navbar-toggle span {
  display: block;
  height: 2px;
  width: 100%;
  background-color: black;
  border-radius: 2px;
  transform-origin: center;
  transition: transform 0.5s;
}

.navbar-toggle.active span:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}

.navbar-toggle.active span:nth-child(2) {
  opacity: 0;
}

.navbar-toggle.active span:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}

.navbar-menu .menuAbout {
  border-radius: 15px;
  color: black;
  font-size: 25px;
}

@media screen and (max-width: 440px) {
  .navbar-menu .menuAbout {
    font-size: 20px;
  }
}

.navbar-menu .menuContact {
  border-radius: 15px;
  color: black;
  padding: 1rem;
  font-size: 25px;
}

.navbar-menu .menuContact:hover {
  background: #e7d2cc;
  color: white;

  border-radius: 20px;
}

.contact-class {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  background: #faebd7;
  padding: 2rem;
}

@media screen and (max-width: 440px) {
  .con-class {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.contact-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

@media screen and (max-width: 768px) {
  .contact-box {
    width: 100%;
    margin-bottom: 0;
  }
}
